extend layout
block content
    script(src="/js/mqtt.min.js")
    script(src="/js/moment.min.js")
    link(rel="stylesheet", href="/css/realtime.css")

    div(class="container-fluid")
        div(class="underling-container")
    script(src="/js/realtime.js")
