* {
    font-family: 'Roboto', sans-serif;
}

.underling-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;

    flex-wrap: wrap;
}

.underling {
    border: 1px solid rgba(86,61,124,.15);
}
.underling .content-wrapper {
    padding: 5px;
}
.underling .header-wrapper {
    padding: 10px;
}
.underling h1.header {
    margin: 0px;
}

.underling span.message {
    display: block;
}

.underling span.timestamp {
    display: block;
}

.underling span.duration {
    display: block;
}
.state {
    height: 20px;
}
