
.underling-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;

    flex-wrap: wrap;
}

.underling {
    border: 1px solid rgba(86,61,124,.15);
    margin-bottom: 10px;
    width: 300px;
    max-width: 100%;
}
.underling .content-wrapper {
    padding: 5px;
}
.underling .header-wrapper {
    padding: 10px;
}
.underling h1.header {
    margin: 0px;
}

.underling div.content {
    display: block;
}

.underling div.timestamp {
    display: block;
}

.underling div.duration {
    display: block;
    font-size: 25px;
    font-weight: bold;
}
.state {
    height: 20px;
}
