div.main-menu {
  padding-top: 10px;
  border-bottom-color: #000000;
  border-bottom-style:  solid;
  border-bottom-width: 1px;
}

div.main-menu ul li:first-child {
  margin-left: 0px;
}

div.main-menu ul li:last-child {
  margin-right: 0px;
}
div.main-menu ul li {
  font-size: 35px;
  text-transform: uppercase;
  margin-left: 10px;
  margin-right: 10px;
}
